<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <h2 style="margin-left: 20px;">网上预约挂号后台管理</h2>
    <div class="div_sa">
        <span>欢迎您，</span><a href="#">庞磊</a>
    </div>
    <div id="div_dlzc">
        <img id="userImage" src="images/404.png" alt="庞磊" title="庞磊">
        <div id="user_menu">
            <ul class="ul_menu">
                <li><a href="">个人信息</a></li>
                <li><a href="userPwd?menuId=25">修改密码</a></li>
                <li><a href="login">注销登录</a></li>
                <li><a href="">退出系统</a></li>
            </ul>
        </div>
    </div>
</header>
</html>