<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>首页</title>
    <link rel="stylesheet" href="./static/common/layui/css/layui.css">
    <link rel="stylesheet" href="./static/admin/css/style.css">
    <link rel="stylesheet" href="css/index.css">
    <script src="./static/common/layui/layui.js"></script>
    <script src="./static/common/jquery-3.3.1.min.js"></script>
    <script src="./static/common/vue.min.js"></script>
    <script src="js/index.js"></script>
</head>
<body>
<!--头部引入-->
<header th:include="header::header"></header>
<div id="app">
    <div class="main">
        <!--引入菜单栏-->
        <div class="left" th:include="nav::nav"></div>
        <!--右侧-->
        <div class="right">
            <fieldset class="layui-elem-field layui-field-title">
                <legend>医院简介</legend>
            </fieldset>
            <blockquote class="layui-elem-quote">
                <h2>郑州XX医院</h2>
                <p>............</p>
                <p>............</p>
            </blockquote>
            <div style="float: left">
                <img src="images/lunbo01.jpg" alt="" style="width: 500px;height: 400px;margin-right: 20px;">
            </div>
            <h1>医院概况</h1>
            <p style="text-indent:2em;margin: 20px;font-size: 16px;">
                郑州大学第一附属医院始建于1928年9月，其前身为原国立河南大学医学院附设医院。1958年从开封迁址郑州，更名为河南医学院第一附属医院。1985年更名为河南医科大学第一附属医院。2000年原郑州大学、郑州工业大学、河南医科大学三校合并，医院正式命名为郑州大学第一附属医院。2012年，成为省部共建医院。医院是集医疗、教学、科研、预防、保健、康复为一体，具有较强救治能力、较高科研水平和国际交流能力的三级甲等医院，先后被评为全国文明单位、国家级“爱婴医院”、全国“百佳医院”、中国医院信息化建设先进单位、全国县级医院帮扶示范地基、中国PTC突出贡献团队奖、全国优质护理服务优秀医院、全国医院文化建设先进单位等荣誉称号。
                目前，医院有河医、郑东和惠济3个院区，有河南省口腔医院、河南省眼科医院、河南省基因医院，郑大一附院儿童医院、肿瘤医院、心血管病医院、脑血管病医院、生殖遗传专科医院、耳鼻喉医院、移植医院、消化病医院、肾脏病医院12个院中院。
                医院有国家临床重点专科20个（位居国内第12位）,有河南省重点学科27个，重点培育学科2个。临床医学是河南省优势学科，食管癌防治是河南省特色学科。我院达芬奇手术机器人已成功开展泌尿、妇科、肝胆、胃肠、胸外等各类手术，最近荣获达芬奇机器人中国泌尿外科临床手术教学示范基地，标志着河南外科手术进入“机器人”时代。肝肾移植数量居国内医院前列。
                郑州大学第一附属医院是河南省培养高级医疗卫生人才的临床基地，第一临床学院、口腔医学院均设在我院。2017年临床医学成为国家“双一流”建设学科，临床医学和护理学是一级学科博士、硕士学位授权点，涵盖所有二级学科。2018年在院培养本科生1361人、住培医师1876人，硕博研究生1596人。进修生2178人。
                2014年郑州大学第一附属医院成为国家首批住院医师规范化培训基地，是“河南省住院医师规范化培训示范基地”，住培学员结业考核综合通过率达95%以上。2017年郑州大学第一附属医院成为国家首批专科医师规范化培训试点基地，同年河南省专科医师规范化培训中心落户我院，目前10个国家级试点专科均启动并招生，为河南省唯一一家启动所有试点专科的医院。
                郑州大学第一附属医院多次代表郑州大学参加全国高等医学院校大学生临床技能竞赛，并获优异成绩，其中2017年荣获特等奖。2017年全国首届来华留学生临床技能竞赛优异团队奖，最佳团队合作奖，内科和儿科单项优秀奖。
                郑州大学第一附属医院是“国家远程医疗中心”、“国家医师资格考试实践技能考试与考官培训基地”、“河南省住院医师规范化培训结业考试考点”、“河南省医学教育研究中心”、“国家临床教学培训示范中心”，是地方所属高校“本科教学工程”大学生校外实践教育基地。
            </p>
    </div>
</div>
</div>
<script src="./static/admin/js/script.js"></script>
</body>
</html>
