<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="left" th:fragment="nav">
    <script src="js/nav.js"></script>
    <h3 style="margin:10px 20px;color: #fff;"><a href="home" class="a_home">首页</a></h3>
    <ul class="cl" >
        <!--<li>
            <a href="javascript:;" class="a_menu">病人管理</a>
            <div class="div_menu">
                <a href="patients">病人列表</a>
                <a href="#">预约列表</a>
            </div>
        </li>
        <li>
            <a href="javascript:;" class="a_menu">医生管理</a>
            <div class="div_menu">
                <a href="doctor">医生列表</a>
                <a href="doctorAdd">添加医生</a>
            </div>
        </li>
        <li>
            <a href="javascript:;" class="a_menu">科室管理</a>
            <div class="div_menu">
                <a href="koffice">科室列表</a>
                <a href="kofficeAdd">添加科室</a>
                <a href="#">就诊情况</a>
            </div>
        </li>
        <li>
            <a href="javascript:;" class="a_menu">新闻管理</a>
            <div class="div_menu">
                <a href="news">新闻列表</a>
                <a href="newsAdd">添加新闻</a>
            </div>
        </li>
        <li>
            <a href="javascript:;" class="a_menu">系统设置</a>
            <div class="div_menu">
                <a href="#">权限管理</a>
                <a href="user">用户列表</a>
                <a href="userAdd">添加用户</a>
                <a href="userPwd">修改密码</a>
            </div>
        </li>-->
    </ul>
</div>
</html>